@model string

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">MD5 Example</h1>
    <div class="alert alert-primary" role="alert">
        @Model
    </div>
</div>
